{% block content %}
<div class="error">
	<div>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . # # . . . . . . . . . . . . . . . . . . . . . . . . # .</div>
	<div># # # # # . . # # # . . . # # # # . . # # # . . . . . . . . # # # # . . . # # # . . . # . . . . . . . . . . . # . . . . . # # # . . # . . . # . # # # # . . . . . . # .</div>
	<div># . . . . # . . . . # . # . . . # . # . . . # . . . . . . . # . . . # . # . . . # . # # # . . . . . . . . . # # # . . . # . . . # . # . . . # . # . . . # . . # # # # .</div>
	<div># . . . . # . # # # # . # . . . # . # # # # . . . . . . . . # . . . # . # . . . # . . # . . . . . . . . . . . # . . . . # . . . # . # . . . # . # . . . # . # . . . # .</div>
	<div># # # # # . # . . . # . . # # # # . # . . . . . . . . . . . # . . . # . # . . . # . . # . . . . . . . . . . . # . . . . # . . . # . # . . . # . # . . . # . # . . . # .</div>
	<div># . . . . . . # # # # . . . . . # . . # # # # . . . . . . . # . . . # . . # # # . . . . # # . . . . . . . . . # . . . . . # # # . . . # # # . . # . . . # . . # # # # .</div>
	<div># . . . . . . . . . . . . # # # . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</div>
</div>
{% endblock content %}
